@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body{
    @apply h-full
  }
  h1{
    @apply text-[40px] lg:text-[80px]
  }

  h2{
    @apply text-[70px] 
  }

  p{
    @apply text-[15px] md:text-[25px]
  }
}
/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;400&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Outfit', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p{
  font-size: 25px;
}

h1{
  font-size: 90px;
}

h2{
  font-size: 70px;
}

.app{
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.app::before{
  content: '';
  background: url('./assets/background.jpg') no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  z-index: -1;
}

.app .search-location{
  text-align: center;
  padding: 15px;
}
.app .search-location input{
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.container{
  max-width: 1240px;
  margin: auto;
  height: 700px;
  padding: 50px 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app .description{
  position: relative;
  right: -90%;
  transform-origin: 0 0;
  transform: rotate(-90deg);

}

.app .bottom{
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding: 10px;
} */